.sign-up-card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vh;
	background-color: #f4f9fe;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	/* border: 1vh solid #e7f1fd; */
	/* width: 60%; */
	/* height: 70%; */
	/* margin: 0 10vh; */
	/* width: 60%; */
	/* height: 70%; */
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border: 1vh solid #e7f1fd;
	/* width: 60%; */
	/* height: 70%; */
	/* margin: 0 10vh; */
	width: 60%;
	height: 70%;
}

.button-blue {
	background-color: #4a68ad;
}

.input-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2vh;
}
button {
	width: 30vh;
	background-color: #1e2c4b;
	border: none;
	height: 5vh;
	color: white;
	margin-top: 2vh;
	border-radius: 0.5vh;
}

.blue-btn-div {
	align-self: center;
}
input {
	margin-top: 2vh;
}

/* Success message box */
.success-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40vh;
	height: 40vh;
	background-color: white;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
	display: none;
}

/* Success message */
.success-message {
	font-size: 20px;
	color: green;
	margin-top: 10px;
	display: none;
}
