* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	color: black;
	background-color: green;
}

.toast-container {
	display: flex;
	align-items: center;
	width: 500px;
	margin-left: 5%;
	height: 80px;
	margin-top: 5%;
	background-color: white;
	position: relative;
   
}

.check-container {
	margin-left: 0.5rem;
	width: 70px;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.check-icon {
	background-color: green;
	border-radius: 50%;
	align-self: center;
	width: 60px;
	height: 60px;
	/* order: 1; */
	/* margin-left: 40%; */
	z-index: 1;
	position: relative;
	top: 3px;
	left: -14px;
}
.pie-chart {
	background: conic-gradient(
		#00e6c2 28deg 45deg,
		transparent 45deg 60deg,
		#00e6c2 60deg 100deg,
		transparent 100deg 110deg,
		#00e6c2 110deg 360deg
	);
	border-radius: 50%;
	align-self: center;
	width: 70px;
	height: 70px;
	/* margin-left: 0; */
	/* order: 2; */
	top: 4%;
	left: 11%;
	position: absolute;
}

.message {
	height: 5rem;
	margin-left: 5rem;
	width: 20rem;
	margin-top: 10%;
}
.close-btn {
	margin-left: auto;
	margin-right: 2rem;
}



@media (max-width: 540px) {
    .toast-container .check-container, .toast-container .message, .toast-container .close-btn {
        flex: 1;
    }
}

@media (min-width: 541px) and (max-width: 780px) {
    .toast-container .check-container, .toast-container .message, .toast-container .close-btn {
        flex: 1;
    }
}

@media (min-width: 781px) and (max-width: 1200px) {
    .toast-container .check-container, .toast-container .message, .toast-container .close-btn {
        flex: 1;
    }
}





