* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	color: black;
	background: rgb(0, 36, 12);
	background: linear-gradient(
		270deg,
		rgba(0, 36, 12, 1) 0%,
		rgba(9, 121, 83, 1) 49%,
		rgba(0, 255, 143, 1) 100%
	);
	width: 200vh;
	height: 100vh;
}
.grid-container {
	/* display: grid;
	background: radial-gradient(#fff 15%, transparent 16%),
		linear-gradient(90deg, transparent 49%, #fff 49% 51%, transparent 51%),
		linear-gradient(0deg, transparent 49%, #fff 49% 51%, transparent 51%);
	background-size: 3em 3em;
	background-color: transparent;
	opacity: 1;
	width: 100vh;
	height: 100vh; */
	background: repeating-linear-gradient(
			90deg,
			#4f46e4 0,
			#4f46e4 5%,
			transparent 0,
			transparent 50%
		),
		repeating-linear-gradient(
			180deg,
			#4f46e4 0,
			#4f46e4 5%,
			transparent 0,
			transparent 50%
		);
	background-size: 4em 4em;
	background-color: transparent;
	opacity: 1;
	width: 200vh;
	height: 100vh;
}

.dot {
	content: "";
	position: relative;
	top: 22px;
	left: 22px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	z-index: 2;
}
